.DS_Store
README.old.md
assets/images/640-contact.jpg
assets/images/640-index.jpg
assets/images/640-portfolio.jpg
assets/images/768-contact.jpg
assets/images/768-index.jpg
assets/images/768-portfolio.jpg
assets/images/980-contact.jpg
assets/images/980-index.jpg
assets/images/980-portfolio.jpg
